@model IEnumerable<ecommerce.Models.Produit>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}   <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Welcome to our website</h1>
            </div>
            <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
                <img src="~/assets/img/fidari.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Store</h2>
        </div>
     

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-beauty">Beauté</li>
                    <li data-filter=".filter-vetement">Vetement Femme</li>
                    <li data-filter=".filter-chaussure">chaussure Femme</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            
            @foreach (var item in Model) {
            <div class="col-lg-4 col-md-6 portfolio-item filter-@item.Categorie"> 
                <div class="thumbnail-container">
                        <img src="@item.PhotoUrl" class ="img-fluid" alt="">
                        <div class="product-image">
                            <h4>@Html.DisplayFor(modelItem => item.Description)</h4>
                            <div  class="product-price-and-shipping">
                            <p> @Html.DisplayFor(modelItem => item.Price) DH</p>
                            </div>
                        </div>
                            
                            <div class="portfolio-links">
                                <a href="@item.PhotoUrl" data-gallery="portfolioGallery" class="portfolio-lightbox" title="photo"> </a>
                                <form asp-controller="Paniers" asp-action="Create">
                                @Html.AntiForgeryToken()
                                    <input type="hidden" name="ProduitId" class="form-control" value="@item.id" />
                                <input type="hidden" name="Quantite" class="form-control" value="1" />
                                    <button type="submit" value="Create" class="btn btn-outline-primary"><i class="bi bi-cart3"></i> Add to cart</button>
                                </form>
                         
                        </div>

                    </div>

                </div>
                


            }
            @*ajouter produit au panier
            <script>
                function ajouterPanier(e) {
                @* Obtient la valeur du premier élément input dans l'élément fourni*
                    var id = e.getElementsByTagName("input")[0].value;
                    @* Initialise un tableau vide pour le panier  
                    var panier = Array();
                @*  S'il existe des cookies, divise le cookie 'panier' et le convertit en tableau
                       
                    if (document.cookie.length>0)
                        panier = document.cookie.split('=')[1].split(',');
                  // Ajoute l'ID de l'article au tableau du panier 
              
                    panier.push(id);

                  Convertit le tableau du panier en une chaîne séparée par des virgules
                    panier = panier.join(',');

                Définitle cookie 'panier' avec la valeur mise à jour, ainsi qu'une date d'expiration et un chemin
                    document.cookie = `panier=${panier}; expires=Wed, 18 Dec 2030 12:00:00 UTC; path=/`
                    
                }
                    </script>
           *@

        </div>

    </div>
</section>